In [1]:
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)

1.11.1
0.18.1

In [2]:
#List manipulation, python list can have multiple data type
sample_list = list(range(10))
print(sample_list)
modified_list = [value+10 for value in sample_list]
print(modified_list)
print([type(value) for value in modified_list])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[<type 'int'>, <type 'int'>, <type 'int'>, <type 'int'>, <type 'int'>, <type 'int'>, <type 'int'>, <type 'int'>, <type 'int'>, <type 'int'>]

In [3]:
#numpy list cannot have different data types
np.random.seed(3)
np_list = np.arange(0,10,1)
print(np_list)
np_arr =np.random.normal(0,1,(2,2)) #mean,std,(dimention)
#help(np.random.normal)
print(np_arr)
print(np_arr[0,1])

[0 1 2 3 4 5 6 7 8 9]
[[ 1.78862847  0.43650985]
 [ 0.09649747 -1.8634927 ]]
0.436509850512

In [4]:
np_list2 = np.array(modified_list)
np_list2 = np.concatenate([np_list,np_list2])
print(np_list2)
#np.vstack and np.hstak to vertical and horizontal stacking similar to concatenate

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [5]:
x1,x2 = np.split(np_list2,[10])
grid = np.concatenate([x2,x1]).reshape(2,10)
print(grid)
#np.vsplit and np.hsplit works similarly

[[10 11 12 13 14 15 16 17 18 19]
 [ 0  1  2  3  4  5  6  7  8  9]]

In [22]:
sample_dict = {'F1':['v1','v2','v3','v4','v5','v6','v7'], 'Value':[val for val in np.random.normal(1,2,(7))]}
sample_data = pd.DataFrame(sample_dict)
sample_data

   F1     Value
0  v1 -1.488247
1  v2 -0.252834
2  v3 -0.607532
3  v4 -3.838166
4  v5 -0.847584
5  v6 -1.047752
6  v7  3.247956

In [23]:
sample_data.describe() #It give summary of only integer and floating points columns

          Value
count  7.000000
mean  -0.690594
std    2.097871
min   -3.838166
25%   -1.267999
50%   -0.847584
75%   -0.430183
max    3.247956

In [24]:
#pandas SQL query starts from here***
sample_data = sample_data.append(sample_data, ignore_index=True)
sample_data.sort_values(by=['Value'],ascending=True,inplace=True)
#inplace for inplace sorting
sample_data.sort_values(by='Value')
sample_data = sample_data.drop_duplicates(subset='Value') #If column value is same
print(sample_data)

   F1     Value
3  v4 -3.838166
0  v1 -1.488247
5  v6 -1.047752
4  v5 -0.847584
2  v3 -0.607532
1  v2 -0.252834
6  v7  3.247956

In [25]:
#Mapping and apply with lamda function
print(str.lower)

<method 'lower' of 'str' objects>

In [ ]:
#dictionary for map, map also work with function
map_dict = {'v1':4, 'v2':2, 'v3':3, 'v4':4, 'v5':5, 'v6':6,'v7':7}
sample_data['F1_num'] = sample_data['F1'].map(map_dict)

#one liner functions lamda, ld = lambda x: x.size()